extends layout.pug

block content
    <!-- content should always have on root... -->
    <div id="content-root">
        <div class="container">
            <h4>Contribute Code</h4>
            <p class="flow-text">Fork the <a href="https://github.com/kngako/chess">repo on github</a> and make as many contributions as you see fit.</p>
            
            <h4>Contribute Ideas</h4>
            <p class="flow-text">Add issues/proposals to <a href="https://github.com/kngako/chess">repo on github</a> and help shape which this project may take in the future.</p>
            
            <h4>Contribute Money</h4>
            <p class="flow-text">Of course not everyone is into this whole development thing. Which is where the money comes in because the servers running this site are not free.</p> 
            <p class="flow-text">Your money would be put to good use. But also there is nothing wrong with you giving Kgothatso some money out of the goodness of your heart for him developing and maintaining this site. So click this <a href="http://paypal.me/kngako">link</a> to be a generous human being.</p>
            <div class="center">
                <!-- Use logos and cool stuff here... -->
                <p class="flow-text"><a href="http://paypal.me/kngako">PAYPAL.ME</a></p>
                <p class="flow-text">BTC: <a href="bitcoin:1GntGgkyG9rFS1EdsYJoHEXBLa6FRqxmN9">1GntGgkyG9rFS1EdsYJoHEXBLa6FRqxmN9</a></p>
                <p class="flow-text">ETH: 0xeA828399105cb8b61feE4ddC6A7fC955576F7Ef7</p>
                <p class="flow-text">LTC: LVzAtTdeEweZyT3fW2YXJvxfggaLfpnBuF</p>
            </div>
            <p class="flow-text"></p>
        </div>
    </div>
