extends layout.pug

block content
    <div id="content-root">
        <div class="container">
            <p class="flow-text">Something went wrong. Please take a moment to give details on what broke for you here.</p>
        </div>
    </div>