extends layout.pug

block content
    <div id="content-root">
        <div class="container">
            <h2 class="flow-text">Please Login</h2>
            <form id="login-form">
                <div class="row">
                    <label for="email">Email:</label>
                    <input id="email" type="text" v-model="state.username" name="username"/>
                </div>
                <div class="row">
                    <label for="password">Password:</label>
                    <input id="password" type="password" v-model="state.password" name="password"/>
                </div>
                <div class="row">

                    <div class="col s12 m6 center">
                        <button  class="btn waves-effect waves-light" v-on:click="attemptLogin">Log In</button>
                    </div>
                    <div class="col s12 m6 center">
                        <a class="btn-flat waves-effect waves-light" href="/signup">Register</a>
                    </div>
                </div>
            </form>
            <p class="center">
                <a class="center" href="/reset-password">forgot password</a>
            </p>
        </div>
    </div>

block additionalScripts
    script
        include includes/js/login.js