extends layout.pug

block content
    <div id="content-root">
        <div class="container">
            <p class="flow-text">This chess club site is currently only open to a select few. <a href="/signup">Sign up</a> but keep it between those who you play the game with.</p>
        </div>
    </div>