extends layout.pug

block content
    <div id="content-root">
        <div class="container">
            <p class="flow-text">Contact your admin for this... or <a href="/contribute">contribute</a> towards the development for this project...</p>
        </div>
    </div>