extends layout.pug

block content
    <div id="content-root">
        <div class="container">
            <p class="flow-text"><a href="/contribute">Contribute</a> towards the development of this section</p>
        </div>
    </div>